.UserOutput {
    width: 60%;
    margin: 8px auto;
    border: 5px solid yellow;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    font-size: 18px;
    color: red;
    background-color: black;
}

.header {
    font-size: 25px;
    text-transform: uppercase;
}